{% switch citation.sourceType.first() %}

    {% case 'book' %}
            {{ citation.sourceAuthors }}. <span class="source-name">{{ citation.sourceName }},</span> ({{ citation.sourceYear }}).

    {% case 'video' %}

    {% case 'webpage' %}
        {{ citation.sourceAuthors }}. {{ citation.sourceTitle }}. <span class="source-name">{{ citation.sourceName }},</span> ({{ citation.sourceDate }}). Retrieved from <a href="{{ citation.sourceAddress }}" target="blank">{{ citation.sourceAddress }}</a>

    {% case 'article in periodical' %}
        {{ citation.sourceAuthors }}. {{ citation.sourceTitle }}. <span class="source-name">{{ citation.sourceName }},</span> ({{ citation.sourceDate }}).

    {% case 'image' %}

{% endswitch %}