{% set targetGallery = craft.request.getQuery('name', 'aside-avs-gallery') %}
{% set entry =  craft.entries.type('aside').slug(targetGallery).first() %}
{% set pageClass = 'none' %}
{% set path = craft.request.getUrl() %}

{% extends craft.request.isAjax ? "_ajax" : "_layout" %}

{% block content %}

<div class="gallery-wrapper">

{% if entry | length %}
<h1>{{ entry.heading }}</h1>
{% if entry.asideGallery | length > 1 %}
<button class="next">></button>
<button class="prev"><</button>
{% endif %}
<button class="esc">x</button>

<div class="fig-container">
{% for block in entry.asideGallery %}

    {% switch block.type %}

        {% case 'imageBlock' %}

        <figure class="slide">
            <div class="another">
                <div class="slide-image-container"><img class="gallery-image" src="{{ block.image.first().getUrl() }}"></div>
            </div>
            <figcaption>
                <p>{{ block.caption }}</p>
                <cite>{{ block.citation.first() }}</cite>
            </figcaption>
        </figure>

        {% case 'videoBlock' %}

        {% set video = craft.embedder.url(block.embed, {max_width: 100, max_height: 100, width: 500, height: 500, youtube_rel: 0}) %}

        <figure class="slide">
            <div class="video-container">{{ video.embed_code }}</div>
        </figure>

{#         <figure class="slide">
            <div class="another"><div class="slide-image-container">
                <div class="video-container">{{ video.embed_code }}</div>
            </div></div>
            <figcaption>
            <li>title : {{ video.video_title }}</li>
                <p>{{ block.caption }}</p>
                <cite>{{ block.citation.first() }}</cite>
            </figcaption>
        </figure> #}

        {% endswitch %}


{% endfor %}
</div>

{% endif %}
</div>
{# end gallery wrapper #}


{% endblock %}

{% block scripts %}
{% endblock %}


