{% set title = category.title %}
{% set entries =  craft.entries({
    type: 'chapter',
    relatedTo: category,
    order: 'chapterLevel'
    })
%}
{% set pageClass = 'story' %}
{% set path = craft.request.getUrl() %}

{% extends '_layout' %}

{% block content %}

{#  <pre>
    {% for entry in category.storyTimeline.first().years %}
        {{ dump(year.description) }}
    {% endfor %}
 </pre> #}

<article class="story">

{% for entry in entries %}
    <section class="article-item">

    <header class="article-hdr">

        <h2>LEVEL {{ entry.chapterLevel }}</h2>
        <h1>{{ entry.heading }}</h1>

    </header>

    <div class="article-txt">

        {% for block in entry.chapterBody %}

            {% switch block.type %}

                {% case 'text' %}

                    {{ block.text | shortcodes }}

                {% case 'quote' %}
                    <blockquote class="quote {{ block.align }}-quote">
                        {{ block.quote }}
                    </blockquote>

                {% case 'image' %}

{#                 {% set image = block.image.first() %}
                <figure class="{{ block.align }}-image">
                    <img src="{{ image.getUrl() }}" alt="{{ image.title }}">
                    <figcaption>{{ block.caption }}</figcaption>
                </figure> #}

            {% endswitch %}

        {% endfor %}
        </div>
        {# end article-txt #}
        <div class="aside-container">
            {% include 'asides.twig' %}
        </div>
        {% include 'aside-list.twig' %}
    </section>
    {# end section article-item #}
{% endfor %}

<footer class="story-footnotes">
    <h2> Sources:</h2>
    {% for entry in entries %}
        <p>{% include 'full-citation.twig' with {'citations': entry.citations }%}</p>
    {% endfor %}
</footer>

</article>


{% endblock %}

{% block timeline %}

    {% include 'timeline.twig' %}

{% endblock %}


