{% set title = category.title %}
{% set entries =  craft.entries({
    type: 'chapter',
    relatedTo: category,
    order: 'chapterLevel'
    })
%}
{% set pageClass = 'story' %}
{% set path = craft.request.getUrl() %}

{% extends '_layout' %}

{% block drawer %}

{% include 'drawer.twig' %}

{% endblock %}


{% block content %}

{#  <pre>
    {% for entry in entries %}
        {{ dump(entry.title) }}
    {% endfor %}
 </pre>

 <pre>
   {{ dump(category.title) }}
 </pre> #}


<article class="story">

{% for entry in entries %}
    {# {% if category.title == 'nintendo' and entry.slug != 'the-little-crash-of-1977' %} #}
    <div id="level-{{ entry.chapterLevel }}" class="aside-trigger"></div>
    <section class="article-item" id="{{ entry.slug }}" data-name="{{ entry.heading }}">

    <header class="article-hdr">

        <h2>LEVEL {{ entry.chapterLevel }}</h2>
        <h1>{{ entry.heading }}</h1>

    </header>

    <div class="article-txt">

        {% for block in entry.chapterBody %}

            {% switch block.type %}

                {% case 'text' %}

                    {{ block.text | shortcodes }}

                {% case 'quote' %}
                    <blockquote class="quote {{ block.align }}-quote">
                        {{ block.quote }}
                    </blockquote>

                {% case 'image' %}
                    {% set image = block.image.first() %}
                    <figure class="body-image {{ block.align }}-image">
                        <img src="{{ image.getUrl() }}" alt="{{ image.title }}">
                        <figcaption>{{ block.caption }}</figcaption>
                    </figure>

            {% endswitch %}

        {% endfor %}
        </div>
        {# end article-txt #}
        <div class="aside-container level-{{ entry.chapterLevel }}">
            {% include 'aside-list.twig' %}
            {% include 'asides.twig' %}
        </div>
    </section>
    {# end section article-item #}
    {# {% endif %} #}
{% endfor %}

<footer class="story-footnotes">
    <h2> Sources:</h2>
    <ul class="footnote-list">
    {% for entry in entries %}
        {% include 'full-citation.twig' with {'citations': entry.citations }%}
    {% endfor %}
    </ul>
</footer>

</article>


{% endblock %}

{% block timeline %}

    {% include 'timeline.twig' %}

{% endblock %}

{% block scripts %}
    {% include 'bookmark-drawer.twig' %}
{% endblock %}


